<!doctype html>
<html lang="en">
   <head>
      <!-- Required meta tags -->
      <meta charset="utf-8">
      <title>Invoice</title>
      <style>
         .main_table tbody tr td {
         vertical-align: middle;
         }
         figure {
         margin: 0;
         padding: 0;
         display: block;
         }
         .invoice_detail {
         border: 1px solid #2f528f;
         }
         thead { display: table-header-group; }
         tfoot { display: table-row-group; }
         tr { page-break-inside: avoid; }
      </style>
   </head>
   <%
   
  
    %>
   <body paddingwidth="0" rightmargin="0" topmargin="0" leftmargin="0" bottommargin="0" paddingheight="0" offset="0"
      toppadding="0" leftpadding="0"
      style="padding:0; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; -webkit-font-smoothing: antialiased;">
      <table class="main_table" style="width: 100%;margin:auto;border:0;font-family:arial, serif; font-size:14px;"
         cellspacing="0" cellpadding="0">
         <tbody>
            <tr>
               <td>
                  <table class="main_table" style="width: 100%;margin: auto;font-family:arial, serif; font-size:14px;"
                     cellspacing="0" cellpadding="0" border="0">
                     <tbody>
                        <tr>
                           <td colspan="4" align="center">
                              <figure>asdsadasd</figure>
                           </td>
                        </tr>
                        <tr>
                           <td colspan="4"
                              style="font-size:24px;font-weight: bold;text-align: center;text-transform: uppercase;padding: 10px;">
                              Invoice
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <table style="width: 100%;margin: auto;border:0;" cellspacing="0" cellpadding="0">
                                 <tbody>
                                    <tr>
                                       <td style="padding: 6px 0px;"><strong>Order Number:</strong> 1</td>
                                       <td style="text-align: right;padding: 6px 0px;"><strong>Date:</strong>
                                          1
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </td>
                        </tr>
                        <tr>
                           <td>
                              <table style="width: 100%;margin: auto;border:0;" cellspacing="0" cellpadding="0">
                                 <tbody>
                                    <tr>
                                       <td>
                                          <table style="width: 100%;margin: auto;border:0;" cellspacing="0" cellpadding="0">
                                             <tbody>
                                                <tr>
                                                   <td
                                                      style="border:1px solid #000; font-weight: bold; padding: 5px 10px;border-bottom: 0;border-right: 0;width: 100px;">
                                                      Order Detail: 
                                                   </td>
                                                   <td>
                                                      <table style="width: 100%;margin: 0 auto;" cellspacing="0" cellpadding="0" border="0">
                                                         <tbody>
                                                            <tr>
                                                               <td>
                                                                  <table style="width: 100%;margin: 0 auto;" cellspacing="0" cellpadding="0"
                                                                     border="0">
                                                                     <tbody>
                                                                        <tr>
                                                                           <td
                                                                              style="width: 33.33%; padding: 5px 10px;border-top:1px solid #000;border-left:1px solid #000;">
                                                                              <strong>Tracking Number:</strong> 2
                                                                           </td>
                                                                           <td
                                                                              style="width: 33.33%; padding: 5px 10px;border-top:1px solid #000;border-left:1px solid #000;">
                                                                              <strong>Coupon:</strong> 3
                                                                           </td>
                                                                           <td
                                                                              style="width: 33.33%;border:1px solid #000; padding: 5px 10px;border-bottom: 0;">
                                                                              <strong>Status:</strong>
                                                                             4
                                                                           </td>
                                                                        </tr>
                                                                     </tbody>
                                                                  </table>
                                                               </td>
                                                            </tr>
                                                            <tr>
                                                               <td>
                                                                  <table style="width: 100%;margin: 0 auto;" cellspacing="0" cellpadding="0"
                                                                     border="0">
                                                                     <tbody>
                                                                        <tr>
                                                                           <td
                                                                              style="width: 33.33%; padding: 5px 10px;border-top:1px solid #000;border-left:1px solid #000;">
                                                                              <strong>Shipping Via:</strong>  5
                                                                           </td>
                                                                           <td
                                                                              style="width: 33.33%; padding: 5px 10px;border-top:1px solid #000;border-left:1px solid #000;">
                                                                              <strong>Description:</strong>9
                                                                           </td>
                                                                           <td
                                                                              style="width: 33.33%;border:1px solid #000; padding: 5px 10px;border-bottom: 0;">
                                                                              <strong>Ordered At:</strong> 4
                                                                           </td>
                                                                        </tr>
                                                                     </tbody>
                                                                  </table>
                                                               </td>
                                                            </tr>
                                                         </tbody>
                                                      </table>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <table style="width: 100%;margin: auto;border:0;" cellspacing="0" cellpadding="0">
                                             <tbody>
                                                <tr>
                                                   <td
                                                      style="border:1px solid #000; font-weight: bold; padding: 5px 10px;border-bottom: 0;border-right: 0;width: 100px;">
                                                      Payment Details: 
                                                   </td>
                                                   <td>
                                                      <table style="width: 100%;margin: 0 auto;" cellspacing="0" cellpadding="0" border="0">
                                                         <tbody>
                                                            <tr>
                                                               <td>
                                                                  <table style="width: 100%;margin: 0 auto;" cellspacing="0" cellpadding="0"
                                                                     border="0">
                                                                     <tbody>
                                                                        <tr>
                                                                           <td
                                                                              style="width: 33.33%; padding: 5px 10px;border-top:1px solid #000;border-left:1px solid #000;">
                                                                              <strong>Paypal Return Status:</strong> 7
                                                                           </td>
                                                                           <td
                                                                              style="width: 33.33%; padding: 5px 10px;border-top:1px solid #000;border-left:1px solid #000;">
                                                                              <strong>Payer Paypal Id:</strong> 7
                                                                           </td>
                                                                           <td
                                                                              style="width: 33.33%;border:1px solid #000; padding: 5px 10px;border-bottom: 0;">
                                                                              <strong>Order/Txn Id:</strong> 7
                                                                           </td>
                                                                        </tr>
                                                                     </tbody>
                                                                  </table>
                                                               </td>
                                                            </tr>
                                                            <tr>
                                                               <td>
                                                                  <table style="width: 100%;margin: 0 auto;" cellspacing="0" cellpadding="0"
                                                                     border="0">
                                                                     <tbody>
                                                                        <tr>
                                                                           <td
                                                                              style="width: 33.33%; padding: 5px 10px;border-top:1px solid #000;border-left:1px solid #000;">
                                                                              <strong>Currency:</strong> 6
                                                                           </td>
                                                                           <td
                                                                              style="width: 33.33%; padding: 5px 10px;border-top:1px solid #000;border-left:1px solid #000;">
                                                                              <strong>Order Amount:</strong> 6
                                                                           </td>
                                                                           <td
                                                                              style="width: 33.33%;border:1px solid #000; padding: 5px 10px;border-bottom: 0;">
                                                                              <strong>Payment Fee:</strong> 6
                                                                           </td>
                                                                        </tr>
                                                                     </tbody>
                                                                  </table>
                                                               </td>
                                                            </tr>
                                                            <tr>
                                                               <td>
                                                                  <table style="width: 100%;margin: 0 auto;" cellspacing="0" cellpadding="0"
                                                                     border="0">
                                                                     <tbody>
                                                                        <tr>
                                                                           <td
                                                                              style="width: 33.33%; padding: 5px 10px;border-top:1px solid #000;border-left:1px solid #000;">
                                                                              <strong>Gross Payment:</strong> 6
                                                                           </td>
                                                                           <td
                                                                              style="width: 66.66%; border:1px solid #000; padding: 5px 10px;border-top:1px solid #000;border-left:1px solid #000; border-bottom: 0;">
                                                                              <strong>Payment Done On:</strong> 6
                                                                           </td>
                                                                        </tr>
                                                                     </tbody>
                                                                  </table>
                                                               </td>
                                                            </tr>
                                                         </tbody>
                                                      </table>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <table style="width: 100%;margin: auto;border:0;" cellspacing="0" cellpadding="0">
                                             <tbody>
                                                <tr>
                                                   <td
                                                      style="border:1px solid #000; font-weight: bold; padding: 5px 10px;border-bottom: 0;border-right: 0;width: 100px;">
                                                      Shipping Address: 
                                                   </td>
                                                   <td>
                                                      <table style="width: 100%;margin: 0 auto;" cellspacing="0" cellpadding="0" border="0">
                                                         <tbody>
                                                            <tr>
                                                               <td>
                                                                  <table style="width: 100%;margin: 0 auto;" cellspacing="0" cellpadding="0"
                                                                     border="0">
                                                                     <tbody>
                                                                        <tr>
                                                                           <td
                                                                              style="width: 100%;border:1px solid #000; padding: 5px 10px;border-bottom: 0;">
                                                                              <strong>Address 1:</strong>
                                                                              4
                                                                           </td>
                                                                        </tr>
                                                                        <tr>
                                                                           <td
                                                                              style="width: 100%;border:1px solid #000; padding: 5px 10px;border-bottom: 0;">
                                                                              <strong>Address 2:</strong>
                                                                             4
                                                                           </td>
                                                                        </tr>
                                                                     </tbody>
                                                                  </table>
                                                               </td>
                                                            </tr>
                                                            <tr>
                                                               <td>
                                                                  <table style="width: 100%;margin: 0 auto;" cellspacing="0" cellpadding="0"
                                                                     border="0">
                                                                     <tbody>
                                                                        <tr>
                                                                           <td
                                                                              style="width: 33.33%; padding: 5px 10px;border-top:1px solid #000;border-left:1px solid #000;">
                                                                              <strong>Full Name:</strong>4
                                                                           </td>
                                                                           <td
                                                                              style="width: 33.33%; padding: 5px 10px;border-top:1px solid #000;border-left:1px solid #000;">
                                                                              <strong>Contact:</strong> 4
                                                                           </td>
                                                                           <td
                                                                              style="width: 33.33%;border:1px solid #000; padding: 5px 10px;border-bottom: 0;">
                                                                              <strong>PinCode:</strong>4
                                                                           </td>
                                                                        </tr>
                                                                     </tbody>
                                                                  </table>
                                                               </td>
                                                            </tr>
                                                            <tr>
                                                               <td>
                                                                  <table style="width: 100%;margin: 0 auto;" cellspacing="0" cellpadding="0"
                                                                     border="0">
                                                                     <tbody>
                                                                        <tr>
                                                                           <td
                                                                              style="width: 33.33%; padding: 5px 10px;border-top:1px solid #000;border-left:1px solid #000;">
                                                                              <strong>Country:</strong>4
                                                                           </td>
                                                                           <td
                                                                              style="width: 33.33%; padding: 5px 10px;border-top:1px solid #000;border-left:1px solid #000;">
                                                                              <strong>State:</strong> 3
                                                                           </td>
                                                                           <td
                                                                              style="width: 33.33%;border:1px solid #000; padding: 5px 10px;border-bottom: 0;">
                                                                              <strong>City:</strong> 6
                                                                           </td>
                                                                        </tr>
                                                                     </tbody>
                                                                  </table>
                                                               </td>
                                                            </tr>
                                                         </tbody>
                                                      </table>
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </td>
                                    </tr>
                                    <tr>
                                       <td>
                                          <table style="width: 100%;margin: auto;border:0;" cellspacing="0" cellpadding="0">
                                             <tbody>
                                                <tr>
                                                   <td width="50%" style="padding: 5px 10px;border:1px solid #000;border-right: 0;">
                                                      <strong>Mobile No.:</strong> 3
                                                   </td>
                                                   <td width="50%" style="text-align: right;padding: 5px 10px;border:1px solid #000;">
                                                      <strong>Email:</strong> 2
                                                   </td>
                                                </tr>
                                             </tbody>
                                          </table>
                                       </td>
                                    </tr>
                                 </tbody>
                              </table>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
            <tr>
               <td>
                  <table
                     style="width: 100%;margin: auto;margin-top: 30px;font-family:arial, serif; font-size:14px;border-bottom: 1px solid #000"
                     cellspacing="0" cellpadding="0" border="0">
                     <thead>
                        <tr>
                           <th style="text-transform: uppercase;text-align: left;padding-bottom: 5px;" colspan="3">ORDER ITEMS</th>
                        </tr>
                     </thead>
                     <tbody>
                        <tr>
                           <td>
                              <table style="width: 100%;margin: auto;border:0;" cellspacing="0" cellpadding="0">
                                 <thead>
                                    <tr>
										 
										<th style="border:1px solid #000;padding: 5px 10px;border-bottom: 0;border-right: 0 " width="40px">S. No. </th>
										<th style="border:1px solid #000;padding: 5px 10px;border-bottom: 0;border-right: 0;">Detail of product </th>
										<th style="border:1px solid #000;padding: 5px 10px;border-bottom: 0;border-right: 0;">Quantity </th>
										<th style="border:1px solid #000;padding: 5px 10px;border-bottom: 0;border-right: 0;">Item Price </th>
										<th style="border:1px solid #000;padding: 5px 10px;border-bottom: 0;border-right: 0;">Sub Total </th>
										<th style="border:1px solid #000;padding: 5px 10px;border-bottom: 0;border-right: 0;">Discount </th>
										<th style="border:1px solid #000;padding: 5px 10px;border-bottom: 0;">Net Amount </th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                  
                                 </tbody>
                              </table>
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
            <tr>
               <td style="padding: 20px 0;">
                  <table class="main_table"
                     style="width: 100%;margin: 0 auto;border:0;font-family:arial, serif; font-size:14px;" cellspacing="0"
                     cellpadding="0">
                     <tbody>
                        <tr>
                           <td style="border:1px solid #000;border-right:0;padding: 5px 10px; text-align: center;">
                              Amount ($):
                           </td>
                           <td style="border:1px solid #000;padding: 5px 10px;">1</td>
                           <td style="border:1px solid #000;padding: 5px 10px;font-weight: bold;border-left: 0;">
                              Remark:
                           </td>
                        </tr>
                       
                     </tbody>
                  </table>
               </td>
            </tr>
            <tr>
               <td style="padding: 20px 0;">
                  <table class="main_table" style="width: 100%;margin:auto;border:0;font-family:arial, serif; font-size:14px;"
                     cellspacing="0" cellpadding="0">
                     <tbody>
                        <tr>
                           <td style="text-align: center;padding:10px 5px;border:1px solid #000;line-height: 24px;">Corporate
                              Office : GEMEXI PRIVATE LIMITED Plot NS-5, Street F9, Vasant Vihar, New Delhi - 110057.<br>
                              Contact No. 959 981 2206 <span style="padding: 5px 20px;">Email: contactus@gemexi.in</span> Website:
                              www.gemexi.in
                           </td>
                        </tr>
                     </tbody>
                  </table>
               </td>
            </tr>
         </tbody>
      </table>
   </body>
</html>
