<div class="container-fluid">
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
				<div class="panel panel-col-pink">
					<div class="panel-heading" role="tab" id="panel-heading-id">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-target="#panel-collapse-id" data-parent="#panel-group-id" href="javascript:void(0)" aria-expanded="false"
							   aria-controls="panel-collapse-id">
								<i class="material-icons">search</i> <%= __('admin.system.search'); %>
								<span class="pull-right collapse-toggle-icon"></span>
							</a>
						</h4>
					</div>
					<div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-heading-id">
						<div class="panel-body">
							<div class="row clearfix dataTables_wrapper">
								<!-- Search by vehicle brand-->
								<div class="col-xs-6 col-sm-6">
									<div class="form-group">
										<div class="form-line">
											<input class="form-control" id="column_filter_0" onkeyup="searchDatatable(0)" placeholder="<%= __('admin.locations.search_by_city_name'); %>" name="body">
										</div>
									</div>
								</div>
								
								<!-- Search by Status -->
								<div class="col-xs-6 col-sm-6">
									<div class="form-group">
										<div class="form-line">
											<select class="form-control show-tick"id="column_filter_1" onchange="searchDatatable(1)" name="status">
												<option value=""><%=__("admin.master.search_by_status");%></option>
												<%
												if(STATUS_DROP_DOWN && Object.keys(STATUS_DROP_DOWN).length > 0){
													Object.keys(STATUS_DROP_DOWN).map(searchStatus=>{ %>
														<option value="<%=STATUS_DROP_DOWN[searchStatus]["status_id"]%>"><%=(STATUS_DROP_DOWN[searchStatus]["status_name"]) ? STATUS_DROP_DOWN[searchStatus]["status_name"] :"";%></option>
												<% 	});
												} %>
											</select>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Search End -->
	<!-- Start Listing -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%= __("admin.locations.locations"); %>
					</h2>
					<ul class="header-dropdown m-r--5 btn-right-top-margin">
						<li>
							<a href="<%=admin_list_url%>/add" >
								<button type="button" class="btn bg-indigo waves-effect">
									<i class="material-icons font-14">add</i> <%= __('admin.system.add'); %>
								</button>
							</a>
						</li>
					</ul>
				</div>
				<div class="body">
					<table id="datatable-listing" class="row-border full-length-header hover table table-bordered cb-data-table" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th><%= __("admin.locations.city_name"); %></th>
								<th><%= __("admin.system.status"); %></th>	
								<th><%= __("admin.system.created"); %></th>							
								<th><%= __("admin.system.action"); %></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<%- contentFor('css') %>
	<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">
	
<%- contentFor("script") %>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/js/bootstrap-select.js"></script>
	
	<script type="text/javascript">
		/** Function to initialize datatable and get server side data*/
		var dataTable 			=	"";
		var statusObject 		= 	<%-JSON.stringify(STATUS_LABEL_DROPDOWN); %>;
		$(document).ready(function() {
			dataTable 	= 	$('#datatable-listing').DataTable({
				"order"		: [[2, "desc"]],
				"lengthMenu": PAGING_LENGTH_MENU,
				"sDom"		: "ltipr",
				"serverSide": true,
				"scrollX"	: true,
				"columns"	: [
					{
						"data" 	: 'city_name',
						"render": function(city_name){
							return (city_name) ? city_name :"N/A";
						}
					},
					
					{
						"data" 		: 	'status',
						"field_type": 	'<%=NUMERIC_FIELD%>',
						"render"	:	function(status){
							var statusTitle 		=	(statusObject[status] && statusObject[status]["title"]) 		? 	statusObject[status]["title"] 		:"";
							var statusLabelClass 	= 	(statusObject[status] && statusObject[status]["label_class"]) 	?	statusObject[status]["label_class"] :"";
							return  '<label class="label '+statusLabelClass+'">'+statusTitle+'</label>';
						}
					},
					{
						"data"	 : 'location_at',
						"render" : function(location_at){
							return moment(location_at).tz(DEFAULT_TIME_ZONE).format(DATATABLE_DATE_TIME_FORMAT) ;
						}
					},		
					{
						"data"			: {},
						"orderable"		: false,
						"searchable"	: false,
						"render" 		: function(result){
							var id 		= 	(result._id)	?	result._id		:"";
							var status	=	(result.status)	?	result.status	:"<%=PROMO_CODE_UNPUBLISHED%>";
							
							/** Status Link Text **/
							var statusLinkText  =	(status == <%= DEACTIVE %>) ?	"<%= __('admin.system.active'); %>"				: "<%= __('admin.system.deactive'); %>" ;
							/** Status Link Title **/
							var statusLinkTitle =	(status == <%= DEACTIVE %>) ?  	"<%= __('admin.system.click_to_activate'); %>"  : "<%= __('admin.system.click_to_deactivate'); %>" ;
							/** Status Link Icon **/
							var statusLinkIcon  =	(status == <%= DEACTIVE %>) ?	"done"	: "block";
							
							var dropDownButton 	=	''+
								'<div class="btn-group m-l-5 m-t-5">'+
									'<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">'+
										'<%= __("admin.system.action"); %> '+
										'<span class="caret"></span>'+
									'</button>'+
									'<ul class="dropdown-menu">'+
										/** Edit link **/
										'<li>'+
											'<a href="<%=admin_list_url%>/edit/'+id+'" class="waves-effect waves-block">'+
												'<i class="material-icons">mode_edit</i>'+
												' <%= __("admin.system.edit"); %>'+
											'</a>'+
										'</li>'+
										/** Status Link **/
										'<li>'+
											'<a href="javascript:void(0)" data-href="<%=admin_list_url%>/update_status/'+id+'/'+status+'" class="waves-effect waves-block confirm_box" data-confirm-message="<%=__("admin.locations.do_you_want_to_change_status_of_this_location"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>" title="'+statusLinkTitle+'">'+
												'<i class="material-icons">'+statusLinkIcon+'</i>'+
												statusLinkText+
											'</a>'+
										'</li>'+
										/** View link **/
										'<li>'+
											'<a href="<%=admin_list_url%>/view/'+id+'" class="waves-effect waves-block">'+
												'<i class="material-icons">find_in_page</i>'+
												' <%= __("admin.system.view"); %>'+
											'</a>'+
										'</li>';
										
										/** Delete link **
										dropDownButton += 	'<li>'+
											'<a href="javascript:void(0)" data-href="<%=admin_list_url%>/delete/'+id+'" class="waves-effect waves-block confirm_box" data-confirm-message="<%= __("admin.promo_code.do_you_want_to_delete"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>">'+
												'<i class="material-icons">delete_sweep</i>'+
												'<%= __("admin.system.delete"); %>'+
											'</a>'+
										'</li>'+*/
									'</ul>'+
								'</div>';
							
							return dropDownButton;		
						}
					},
				],
				"ajax":{
					url 	: "<%=admin_list_url%>/workable_locations",
					type	: "POST",
					data	: function (d) {
						d.device_type_search = $('#device_type_search').val();
					},
					dataSrc	: 	function(res){
						return res.data;
					}
				}
			});
			/** Search by Device Type*/
			$("#device_type_search").change(function(){
				dataTable.draw();
			});
		});
		/** Javascript function to search datatable */
		function searchDatatable(columnNumber){
			var query= $('#column_filter_'+columnNumber).val();
			dataTable.column(columnNumber).search(query).draw()
		}//end searchDatatable()
	</script>
