        <section class="cta-three" id="appdownload">
     
            <div class="container text-center">
                <h3>Download our App Today & <br> Experience Endless Possibilities</h3>
                <p>and get started with a free 1 month trial for your business </p>
                <div class="cta-three__btn-wrap">
                    <a href="<%- settings["Site.android_app_link"]; %>" class="cta-three__btn">
                        <i class="fa fa-play"></i>
                        <span>Get in</span>
                        <b>Google Play</b>
                    </a><a href="<%- settings["Site.apple_app_store"]; %>" class="cta-three__btn">
                        <i class="fab fa-apple"></i>
                        <span>Get in</span>
                        <b>Apple Store</b>
                    </a>
                </div><!-- /.cta-three__btn-wrap -->
            </div><!-- /.container -->
        </section><!-- /.cta-three -->