<div class="container-fluid">
	<!--Search Start -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
				<div class="panel panel-col-pink">
					<div class="panel-heading" role="tab" id="panel-heading-id">
						<h4 class="panel-title">
							<a role="button" data-toggle="collapse" data-target="#panel-collapse-id"
								data-parent="#panel-group-id" href="javascript:void(0)" aria-expanded="false"
								aria-controls="panel-collapse-id">
								<i class="material-icons">search</i> <%= __("admin.system.search"); %>
								<span class="pull-right collapse-toggle-icon"></span>
							</a>
						</h4>
					</div>
					<div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel"
						aria-labelledby="panel-heading-id">
						<div class="panel-body">
							<div class="row clearfix dataTables_wrapper">
								<!-- Search by name -->
								<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
									<div class="form-group">
										<div class="form-line">
											<input class="form-control" id="column_filter_0"
												onkeyup="searchDatatable(0)"
												placeholder="<%= __('admin.wallet_transaction.search_by_name'); %>">
										</div>
									</div>
								</div>
								<!-- Search by email -->
								<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
									<div class="form-group">
										<div class="form-line">
											<input class="form-control" id="column_filter_1"
												onkeyup="searchDatatable(1)"
												placeholder="<%= __('admin.wallet_transaction.search_by_email'); %>">
										</div>
									</div>
								</div>
								<!-- Search by transaction type -->
								<div class="col-xs-12 col-sm-4 col-md-3 col-lg-3">
									<div class="form-group">
										<div class="form-line">
											<input class="form-control" id="column_filter_4"
												onkeyup="searchDatatable(4)"
												placeholder="<%= __('admin.wallet_transaction.search_by_tranaction_type'); %>">
										</div>
									</div>
								</div>
								<!-- Search by Date Range -->
								<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
									<div class="form-group">
										<div class="form-line">
											<input class="form-control" id="date-range-picker" placeholder="<%= __('admin.ad_managements.search_by_date'); %>">
										</div>
										<input class="form-control hide" id="from_date" type="text" name="from_date">
										<input class="form-control hide" id="to_date" type="text" name="to_date">
									</div>
								</div>

							
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Search End -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%= __("admin.wallet_transaction.wallet_transaction"); %>
					</h2>
					<ul class="header-dropdown m-r--5 btn-right-top-margin visible-md visible-lg visible-sm">
						<li>
							<a href="<%=admin_list_url+"/export_data/all"%>">
								<button type="button" class="btn bg-pink waves-effect">
									<i class="material-icons font-14">import_export</i> <%= __("admin.system.export_csv"); %>
								</button>
							</a>
						</li>
					</ul>
				</div>
				<div class="body">
					<table id="datatable-listing"
						class="row-border hover full-length-header table table-bordered cb-data-table" cellspacing="0"
						width="100%">
						<thead>
							<tr>
								<th><%= __("admin.wallet_transaction.name"); %></th>
								<th><%= __("admin.wallet_transaction.email"); %></th>
								<th><%= __("admin.wallet_transaction.amount"); %></th>
							
								<th><%= __("admin.wallet_transaction.tranaction_type"); %></th>
								<th width="20%"><%= __("admin.wallet_transaction.reason"); %></th>
								<th><%= __("admin.system.created"); %></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<%- contentFor('css') %>
<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>daterange/daterangepicker.css">
<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">
<link rel="stylesheet" href="<%=WEBSITE_ADMIN_CSS_PATH%>lightbox.css">

<%- contentFor("script") %>
<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/js/bootstrap-select.js"></script>
<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>daterange/daterangepicker.js"></script>
<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>lightbox.js"></script>

<script type="text/javascript">
	/** Function to initialize datatable and get server side data*/
	var dataTable = "";
	$(document).ready(function () {
		dataTable = $("#datatable-listing").DataTable({
			"order": [
				[5, "desc"]
			],
			"sDom": "ltipr",
			"serverSide": true,
			"scrollX": true,
			"lengthMenu": PAGING_LENGTH_MENU,
			"columns": [
				{ "data": "full_name" },
				{
					"data": 'email',
					"render": function (email) {
						return (email) ? '<a href="mailto:' + email + '">' + email + '</a>' :
							email;
					}
				},
				{
					"data"		: "amount",
					"orderable"	: false,
					"render" 	: function(amount){
						return currencyFormat(amount);
					}
				},
			
				{
					"data": 'tranaction_type',
					"render": function (tranaction_type) {
						 return tranaction_type.charAt(0).toUpperCase() + tranaction_type.slice(1);
					}
				},
				{
					"data"		: "reason",
					"orderable"	: false,
					"render" 	:  function(reason){
						var reasonForDelay = ( reason != '' )	? reason	: 'N/A';
						return '<span class="readmore">'+reasonForDelay+'</span>';
					}
				},
				{
					"data": "created",
					"searchable": false,
					"render": function (created) {
						return moment(created).tz(DEFAULT_TIME_ZONE).format(
							DATATABLE_DATE_TIME_FORMAT);
					}
				},
				/*{
					"data": "_id",
					"orderable": false,
					"searchable": false,
					"render": function (id) {
						var toReturn = '<a href="<%=admin_list_url%>/view/' + id;
						toReturn += '" class="btn bg-teal btn-sm waves-effect ml-5 m-t-5">';
						toReturn += '<i class="material-icons font-14">find_in_page</i>';
						toReturn += "<%= __('admin.system.view'); %></a>";
						return toReturn;
					}
				}*/
			],
			"ajax": {
				url: "<%=admin_list_url%>",
				type: "POST",
				data	: 	function (d) {
					d.month = $('#column_filter_5').val();
					d.fromDate 		=	$('#from_date').val();
					d.toDate 		= 	$('#to_date').val();
				},
				dataSrc: function (res) {
					return res.data;
				}
			},
			"drawCallback": readMore
		});
	});



	/**
			 * For date range picker in searching
			 */
			 var DATE_FORMAT = "YYYY-MM-DD";
			var START_DATE	= (typeof dateFrom !== typeof undefined && dateFrom!="") ?	new Date(dateFrom) 	: new Date();
			var END_DATE	= (typeof dateTo !==typeof  undefined && dateTo!="" ) ?	new Date(dateTo) : new Date();
			var OPENS		= "left";
			var options		= {};

			/**Options for date range picker*/
			options.locale = {
				format		: 	DATE_FORMAT,
				cancelLabel	:	"Clear"
			};

			options.startDate		= 	START_DATE;
			options.endDate			= 	END_DATE;
			options.opens			= 	OPENS;
			options.autoUpdateInput	= 	false;
			options.maxDate			= 	new Date();

			var configDemo = $('#date-range-picker');
			configDemo.daterangepicker(options, function (start, end, label) {
				var start_date	= start.format('YYYY-MM-DD');
				var end_date	= end.format('YYYY-MM-DD');
			});

			/**
			* Applying date range filter on user details
			*
			* @param  null
			*
			* @return void
			*/
			configDemo.on('apply.daterangepicker', function(e,picker){
				var startDate	= picker.startDate.format('YYYY-MM-DD HH:mm:00');
				var endDate		= picker.endDate.format('YYYY-MM-DD HH:mm:59');

				$('#from_date').val(startDate);
				$('#to_date').val(endDate);

				var displayStartDate 	=	picker.startDate.format('DD/MM/YYYY');
				var displayEndDate 		= 	picker.endDate.format('DD/MM/YYYY');
				$('#date-range-picker').val(displayStartDate+" - "+displayEndDate);
				dataTable.draw();
			});

			/**
			* Unset date range picker value when click to "clear" button
			*
			* @param  null
			*
			* @return void
			*/
			configDemo.on('cancel.daterangepicker',function(e){
				configDemo.data('daterangepicker').setStartDate(new Date());
				configDemo.data('daterangepicker').setEndDate(new Date());

				$('#from_date').val("");
				$('#to_date').val("");
				$('#date-range-picker').val("");
				dataTable.draw();
			});
			




			
	
		/**
	* Export Details action
	*
	* @param  null
	*
	* @return void
	*/
	$(document).on("change",".export-details",function(){
		var value = $(this).val();
		if(value && value!="" && typeof value!== typeof undefined){
			window.location.href = '<%=admin_list_url+"/export_data/"%>'+value;
		}
	});
	
	/** Javascript function to search datatable */
	function searchDatatable(columnNumber) {
		var query = $("#column_filter_" + columnNumber).val();
		dataTable.column(columnNumber).search(query).draw()
	} //end searchDatatable()
</script>
