<%
	result 		=	(typeof result !== typeof undefined)	?	result	:{};
	var displayPlacement = 	(result.display_placement)		? result.display_placement		:"";
	var startDate	=	(result.start_date)	? result.start_date	:"";
	var endDate		= 	(result.end_date)		? result.end_date		:"";
%>
<div class="container-fluid" id="main-container">
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%= __('admin.system.edit'); %>
					</h2>
					<ul class="header-dropdown m-r--5 btn-right-top-margin">
						<li>
							<a href="<%=admin_list_url%>" >
								<button type="button" class="btn bg-indigo waves-effect">
									<i class="material-icons font-14">keyboard_backspace</i> <%= __("admin.system.back"); %>
								</button>
							</a>
						</li>
					</ul>
				</div>
				<div class="body">
					<form id="edit-user" data-submit-btn-id="user-edit-btn-id" method="post" class="on_click_submit" autocomplete="off" role="form" enctype="mutlipart/form-data">
						<% 
							var oldImage	= 	(result.image)		? result.image		:''; 
							var image 	  	=	(result[IMAGE_FIELD_NAME])	? result[IMAGE_FIELD_NAME]	:ADD_PROFILE_IMAGE_ICON; 
						%>
						<div class="row clearfix">
							<div class="col-sm-12 align-center">
								<div class="form-group add-image">
									<input name="validition" id="validition" type="hidden" class="form-control" />
									
									<input name="old_image" id="old_image" type="hidden" class="form-control"  value="<%=oldImage %>"/>
									<input name="image" id="image" class="form-control image-input-file" type="file"/>
									<span class="help-inline required image" id="ContentTypeNameSpan">
										<div id="pImage">
											<img src="<%=image%>?dim=120x120&type=crop" alt="image" class="profileImage" />
										</div>
									</span>
									<br/>
									<div>
										<a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="<%= __("admin.system.allowed_file_extension")+AD_IMAGE_EXTENSIONS%>" class="btn bg-teal btn-block btn-sm waves-effect changePhoto">
											<%= __("admin.global.image"); %>
										</a>
									</div>
									<span id="image_error" class="error"></span>
								</div>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-line">
										<label for="display_order" class="control-label"><%= __("admin.ad_managements.ad_name"); %><span class="required"> *</span> </label>
										<input type="text" name="ad_name" class="form-control" id="ad_name" value="<%= result.ad_name %>">
									</div>
									<span id="ad_name_error" class="error"></span>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-line">
									<label for="restrict_area" class="control-label"><%= __('admin.ad_managements.display_placement'); %><span class="required"> *</span> </label>
										<select class="form-control show-tick search_by_status" id="display_placement" name="display_placement">
											<option value=""><%=__("admin.ad_managements.please_select_display_placement");%></option>
											<%
											if(typeof ADS_DISPLAY_PLACEMENT_DROPDOWN!== typeof undefined && ADS_DISPLAY_PLACEMENT_DROPDOWN.length > 0){
												ADS_DISPLAY_PLACEMENT_DROPDOWN.map(searchStatus=>{
												var selectedFlag	= (typeof searchStatus.slug !== typeof undefined && searchStatus.slug  && searchStatus.slug == result.display_placement)	? "selected" : "";
											%>
												<option value="<%=searchStatus.slug%>" <%=selectedFlag%> ><%=searchStatus.name%></option>
											<% 
												});
											} %>
										</select>
									</div>
									<span id="display_placement_error" class="error"></span>
								</div>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-line">
										<label for="display_order" class="control-label"><%= __("admin.ad_managements.redirect_url"); %><span class="required"> *</span> </label>
										<input type="text" name="redirect_url" class="form-control" id="redirect_url" value="<%= result.redirect_url %>">
									</div>
									<span id="redirect_url_error" class="error"></span>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-line">
										<label for="ad_budget" class="control-label"><%= __("admin.ad_managements.ad_budget"); %><span class="required"> *</span> </label>
										<input type="text" name="ad_budget" class="form-control" id="ad_budget" value="<%=(result && result.ad_budget) ? result.ad_budget:""; %>">
									</div>
									<span id="ad_budget_error" class="error"></span>
								</div>
							</div>
						</div>
						<div class="row clearfix validity_type_fields">
							<div class="col-md-6">
	                           <label for="start_date" class="control-label"><%= __('admin.ad_managements.start_date'); %><span class="required"> *</span> </label>
	                            <div class="input-group">
	                                <!-- <span class="input-group-addon">
	                                    <i class="material-icons">date_range</i>
	                                </span> -->
	                                <div class="form-line">
										<input name="start_date" id="start_date" type="text" class="form-control" value="" />
	                                    <!-- <input name="start_date" id="start_date" type="text" class="form-control" placeholder="<%=DATEPICKER_DATE_EXAMPLE%>" readonly='true'/> -->
	                                </div>
	                                <span id="start_date_error" class="error"></span>
	                            </div>
	                        </div>							
							<div class="col-md-6">
	                           <label for="end_date" class="control-label"><%= __('admin.ad_managements.end_date'); %><span class="required"> *</span> </label>
	                            <div class="input-group">
	                                <!-- <span class="input-group-addon">
	                                    <i class="material-icons">date_range</i>
	                                </span> -->
	                                <div class="form-line">
										<input name="end_date" id="end_date" type="text" class="form-control" value="" />
	                                    <!-- <input name="end_date" id="end_date" type="text" class="form-control" placeholder="<%=DATEPICKER_DATE_EXAMPLE%>" readonly='true'/> -->
	                                </div>
	                                <span id="end_date_error" class="error"></span>
	                            </div>
	                        </div>
						</div>
						<button type="button"  id="user-edit-btn-id"  <%- ADMIN_LOADING_TEXT %> class="btn bg-pink btn-sm waves-effect btn-submit"><i class="material-icons font-14">save</i> <%= __('admin.system.submit'); %></button>
						<a href="javascript:location.reload(true);" class="text-decoration-none"><button type="button" class="btn bg-blue-grey btn-sm waves-effect"><i class="material-icons font-14">refresh</i> <%= __("admin.system.reset"); %></button></a>
						<a href="<%= admin_list_url %>"><button type="button" class="btn bg-brown btn-sm waves-effect"><i class="material-icons font-14">cancel</i><%= __("admin.system.cancel"); %></button></a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<%- contentFor("css") %>
	<link rel="stylesheet" href="<%=WEBSITE_ADMIN_CSS_PATH%>bootstrap-datetimepicker.css">
		<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">
<%- contentFor("script") %>
		<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/js/bootstrap-select.js"></script>
	<script type="text/javascript">
		
		$(document).ready(function(){
			var today = new Date();
			today.setHours(0,0,0,0); 
            
			$('#start_date').datetimepicker({
				minDate:  today,
				format : "<%= SITE_DATE_FORMAT%>",
			});
            
            var getStartDate = "";
			if('<%=startDate%>'){ 
				getStartDate =	moment("<%=startDate%>").tz(DEFAULT_TIME_ZONE).format('<%= SITE_DATE_FORMAT%>');
				
			}
			$("#start_date").val(getStartDate);

			$('#end_date').datetimepicker({
				minDate:  today,
				format : "<%= SITE_DATE_FORMAT%>",
			});
            
            var getEndDate = "";
			if('<%=endDate%>'){ 
				getEndDate =	moment("<%=endDate%>").tz(DEFAULT_TIME_ZONE).format('<%= SITE_DATE_FORMAT%>');
				
			}
			$("#end_date").val(getEndDate);
		showSelectedLabel();
			/**
			 * Function to submit form
			 */
			$(".btn-submit").click(function(){
				var validationErrorValue=$('#validition').val();
				if(validationErrorValue==1){
					startTextLoading(btnId);
					$("#image_error").html("Please upload allowed file extensions :jpg, jpeg, png with dimension 1900X621 and size 2MB.");
					stopTextLoading(btnId);
					return false;	
				}else{
					
					var btnId = $(this).attr("id");
					startTextLoading(btnId);
					ajax_submit("edit-user",function(status,response){
						if(status){
							window.location.href = response.redirect_url;
						}else{
							stopTextLoading(btnId);
						}
					});	
				}
			});
			
			/** 
			 * User image Upload 
			 */
			$(document).on("click", ".changePhoto", function(){
				if(!$(".add-image #image").hasClass("added")){
					$(".add-image #image").trigger("click");
					$(".add-image #image").addClass("added");
					window.setTimeout(function(){
						$(".add-image #image").removeClass("added");
					},500);
				}
			});
			
			/** 
			 *Show user image after select 
			 */
			$("#image").on("change", function(){
				var UPLOAD_FILE_SIZE = '2';
				var size 			= parseFloat($("#image")[0].files[0].size).toFixed(2);
				var allowed_size 	= UPLOAD_FILE_SIZE * 1024 * 1024; 
				if(size > UPLOAD_FILE_SIZE * 1024 * 1024){
					$("#image_error").html("Please upload allowed file extensions :jpg, jpeg, png with dimension 1900X621 and size 2MB.");
					$('#image').val('');
					$('#validition').val(1);
				}else{
					/** Image validion size start*/
					var file = $(this)[0].files[0];
					var _URL = window.URL || window.webkitURL;
					img = new Image();
					var imgwidth = 0;
					var imgheight = 0;
					var maxwidth = 1900;
					var maxheight = 621;
					
					img.src = _URL.createObjectURL(file);
					img.onload = function() {
					   imgwidth = this.width;
					   imgheight = this.height;
					   
						
							$('#validition').val(2);
							var files = !!this.files ? this.files : [];
							if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support
							
							if (/^image/.test( files[0].type)){ 
								// only image file
								var reader = new FileReader(); // instance of the FileReader
								reader.readAsDataURL(files[0]); // read the local file
								reader.onloadend = function(){ 
									
									$("#pImage").html("<img src='"+this.result+"' class='profileImage' >");
								}
							}
							$("span#image_error").text("");
						
					}
					/** Image validion size end*/
					
					
					
				}
			});
			
			/**
			 * Javascript function to initialize valid from date
			 */
            // $('#start_date').datetimepicker({
            // 	format			: 'YYYY-MM-DD HH:mm',
            // 	minDate			: moment().tz(DEFAULT_TIME_ZONE).format("YYYY-MM-DD HH:mm"),
            // 	date			: moment().tz(DEFAULT_TIME_ZONE).format("YYYY-MM-DD HH:mm"),
            // 	ignoreReadonly	: true,
            // }).on("dp.change", function(e){
            // 	$('#end_date').data("DateTimePicker").minDate(e.date);
            // });
			
			/**
             * Javascript function to initialize datepicker for valid to date.
             */
            // var dateNow	= moment().tz(DEFAULT_TIME_ZONE).format("YYYY-MM-DD HH:mm"); 
            // $('#end_date').datetimepicker({
            // 	format			: 'YYYY-MM-DD HH:mm',
            // 	minDate			: moment().tz(DEFAULT_TIME_ZONE).format("YYYY-MM-DD HH:mm"),
            // 	date			: moment(dateNow).hours(23).minutes(59).seconds(59).milliseconds(0),
            // 	ignoreReadonly	: true,
            // 	useCurrent		: false
            // });
            
			
			// var validFromDate	= 	"";
			// var validToDate		= 	"";
			
			// <% if(startDate){ %>
			// 	validFromDate =	moment("<%=startDate%>").tz(DEFAULT_TIME_ZONE).format('YYYY-MM-DD HH:mm');
			// <% } %>	
			// <% if(endDate){ %>
			// 	validToDate =	moment("<%=endDate%>").tz(DEFAULT_TIME_ZONE).format('YYYY-MM-DD HH:mm');
			// <% } %>	
			
			// $('#start_date').val(validFromDate); 
			// $('#end_date').val(validToDate);
			
		});
		
		/**
		 * Javascript function to change discount label 
		 */
		function showSelectedLabel(){
			var label = $('#display_placement').find(':selected').text();
			//$(".changeLabel").html(label);
		}// end showSelectedLabel()
	</script>




